@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 960px;
    padding: 20px;
}

html {
    background-color: #f0f0f0;  
}

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #127612;
    --accent1-color: #206EB3;
    --accent2-color: #080C0C;

    --heading-font: 'Montagu Slab', serif;
    --paragraph-or-default-font: 'Josefin Sans', serif;
    
    --nav-background-color: #6d2626;
    --nav-link-color: #659DBD;
    --nav-hover-link-color: #e7ddd1;
    --nav-hover-background-color: #468b6e;
}

body {
    font-family: var(--paragraph-or-default-font);
    padding: 20px;
    width: 960px;
    margin: 0 auto;
    border: 2px solid;
    background-color: #e7ddd1;
   
}

* {box-sizing: border-box;}

.header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 5px;
    background-color: var(--nav-hover-background-color);
    margin: -1.3rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.links {
    display: flex;
    grid-column: span0;
    justify-content: flex-start;
}

.links a {
    margin: 30px;
    border: 1rem;
    padding: 30px;
    border: 1px solid #040404;

}

.links a:nth-child(1),
.links a:nth-child(2),
.links a:nth-child(3),
.links a:nth-child(4) {
    margin-left: 0;
    background-color: #6d2626;
    text-decoration: none;
    border-radius: 5px;
    border: 20px;
    border: 1px solid #040404;
}

.links a:hover {
    color: #468b6e;
}

.header img {
    grid-column: span 2;
    max-width: 40%;
    height: auto;
    margin: 10px;
    border-radius: 70px 40px 80px 50px;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.herotext {
    font-family: var(--paragraph-or-default-font);
    padding: 10px;
    border: 2px;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 5px;
    position: absolute;
    margin-bottom: 50px;
    top: 80px;
    left: 190px;
}

.heroimg {
    width: 250px;
    border: -10px;
    padding: 3.5rem 1rem 1rem;
    margin: -38px;
    margin-bottom: 3rem;
}

.title h2{
    text-align: center;
    font-family: var(--heading-font);
    margin-bottom: 4rem;
    font-size: 1.2rem;
}

.title a {
    text-decoration: none;
    color: #468b6e;
}

.title a:hover {
    color: #6d2626;
    text-decoration: none;
}

.purpose {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    margin: 25px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.purpose1 img,
.purpose2 img ,
.purpose3 img  {
    display: grid;
    margin-bottom: 2rem;
    width: 250px;
    padding: 2px;
    margin: 20px;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid;
    background-color: #f0f0f0;
    transition: transform 0.2s ease;
}

.purpose1:hover,
.purpose2:hover,
.purpose3:hover {
    transform: scale(2.0);
  }

p {
    text-align: center;
    margin-bottom: 5rem; 
    font-size: 1.2rem;
    font-family: var(--paragraph-or-default-font)
}

.container-form {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

form {
    width: 500px;
    padding: 1rem;
    border: 1px solid;
    background-color: #f0f0f0;
    display: grid;
    margin-bottom: 2rem;
    border-radius: 20px;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .5rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 20px;
}

label, input, button {
    font-family: var(--heading-font);
}

label, input {
    text-align: left;
    padding-right: 2rem;
    padding: .5rem;
    font-size: 1rem;
}


button {
    margin: 0 auto;
    background-color: #6d2626;
    color: #468b6e;
    width: 250px;
    text-align: center;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: #d6890d;
    transform: scale(1.1);
}

.more {
    font-family: var(--paragraph-or-default-font);
    height: 50px;
    width: 900px;
    margin: 2px;
    padding: 2px;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    box-sizing: border-box;
    background-color: #fff;
    font-weight: bold;
    box-shadow: 0 0 2px;
    border-radius: 50px;
    text-decoration: none;
    margin-bottom: 6rem;
}

.more a {
    color: #659DBD;
    text-decoration: none;
}
.more a:hover {
    color: #468b6e;
    text-decoration: none;
}

.container {
    display: flex;
    grid-template-columns: auto 1fr;
    padding: 2px;
    background-color: var(--nav-hover-background-color);
    margin: -1.2rem;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
}

.container-text {
    display: flex;
    padding: 0px;
    font-size: .1rem;
    font-weight: bold;
    margin-left: 1rem;
}

.sociallinks img {
    max-width: 25px;
    background-color: #e7ddd1;
    border-radius: 10px;
    margin: .5rem;
}

nav {
    font-size: 1.2rem;
    display: flex;
    margin: -2px;
    padding: 5px;
    justify-content: center;
}

nav a {
    display: flex;
    background-color: #6d2626;
}

nav a:link, nav a:visited {
    color: #e7ddd1;
    margin: 1rem;
    padding: .1rem;
    border-radius: .5rem;
}

nav a:hover {
    background-color :#e7ddd1;
}