@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #F3AA34;
    --secondary-color: #348234;
    --accent1-color: #206EB3;
    --accent2-color: #080C0C;

    --heading-font: 'Montagu Slab', serif;
    --paragraph-or-default-font: 'Josefin Sans', serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #348234;
    --nav-hover-link-color: #F3AA34;
    --nav-hover-background-color: #206EB3;
}

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 2000px;
    padding: 20px;
}


header {
    padding: 20px;
    background-color: var(--nav-background-color);
    position: sticky;
}

p {
    padding: 80px;
}

h2 {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero{
    position: relative;
}

.hero h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    box-shadow: 0 0 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    box-shadow: none;
    clear: none;
}

.hero article img {
    display: block;
    width: 50%;
    height: auto;
    border: 1px solid;
    padding: 1px;
    box-shadow: 0 0 30px;
    float: right;
}

.hero article {
    grid-column: 2/3;
    margin: 1rem;
    color: white; 
    font-size: 24px; 
    font-family: Josefin Sans, serif;
    text-align: start; 
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px, 10px;
    float: left;
    z-index: 1;
}

section h2,
section p {
    padding: 1rem 1rem;
}

img {
    display: block;
    margin-bottom: 20px;
    width: 20%;
    height: auto;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 2rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
}
