@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 2000px;
    padding: 20px;
}

:root {
    --primary-color: #d6890d;
    --secondary-color: #127612;
    --accent1-color: #206EB3;
    --accent2-color: #080C0C;

    --heading-font: 'Montagu Slab', serif;
    --paragraph-or-default-font: 'Josefin Sans', serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #348234;
    --nav-hover-link-color: #F3AA34;
    --nav-hover-background-color: #96b8d6;
}

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 2000px;
    padding: 20px;
    overflow-x: hidden;
}

* {box-sizing: border-box;}

.grid {
    line-height: 0px;
    clear: right;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 120px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    background-color: var(--nav-hover-background-color);
}

.grid img {
    display: block;
    padding: 5px;
    width: 150px;
    height: 150px;
    background-color: var(--nav-background-color);
}

p {
    padding: 80px;
}

h2 {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero h1 {
    font-family: var(--heading-font);
    color: var(--nav-background-color);
    box-shadow: 0 0 30px;
    font-size: 2rem;
    position: absolute;
    margin-bottom: 50px;
    top: 80px;
    left: 90px;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    border: 10px;
    padding: 70px;
    box-shadow: none;
    clear: none;
}

.hero article img {
    display: block;
    width: 30%;
    height: auto;
    border: none;
    padding: 1px;
    box-shadow: 0 0 10px;
    float: right;
}

.hero article {
    color: white; 
    font-size: 1rem; 
    font-family: Josefin Sans, serif;
    text-align: start; 
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
}

.container-1{
    display: flex;
    text-align: start;
    font-size: 1rem;
    margin: 1rem;
    border: 3px solid black;
    min-height: 190px;
    padding: 10px;
}

.container-2 {
    display: flex;
    font-size: 1rem;
    margin: 1rem;
    border: 3px solid black;
    min-height: 100px;
    padding: 10px;
    width: 1430px;
    height: 10px;
}

.container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0px;
    margin: 0px;
    border: 5px solid black;
    min-height: 0px;
    padding: 0px;
    justify-content: flex-end;
}

img {
    margin-bottom: 10px;
    width: 50%;
    height: auto;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
}