@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;

}

.montagu-slab {
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
}

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #F3AA34;
    --secondary-color: #348234;
    --accent1-color: #206EB3;
    --accent2-color: #080C0C;

    --heading-font: 'Montagu Slab', serif;
    --paragraph-or-default-font: 'Josefin Sans', serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #348234;
    --nav-hover-link-color: #F3AA34;
    --nav-hover-background-color: #206EB3;
}

body {
    font-family: var(--paragraph-or-default-font);
    max-width: 960px;
    padding: 20px;
}


header {
    padding: 20px;
    background-color: var(--nav-background-color);
    position: sticky;
}

p {
    padding: 80px;
}

h2 {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero{
    position: relative;
}

.hero h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    box-shadow: 0 0 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid;
    padding: 6px;
    box-shadow: 0 0 30px;
}

.hero p {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 24px; 
    font-family: Josefin Sans, serif;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
}

img {
    display: block;
    margin-bottom: 20px;
    width: 20%;
    height: auto;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
}


